body {
    background-color: #383737;
    font-family: Arial, sans-serif;
  }
  
  header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.2); /* Transparent background with opacity */
    backdrop-filter: blur(10px); /* Apply blur effect */
    -webkit-backdrop-filter: blur(10px); /* For Safari */
    color: #FFFFFF;
    padding: 20px 0;
  }
  
  header .navbar-toggler {
    border-color: rgba(255, 215, 0, 0.8); /* Adjust border color */
  }
  
  header .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='%23FFD700' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  
  header .navbar-nav .nav-link {
    color: #FFFFFF;
    font-size: 18px;
  }
  
  header .navbar-nav .nav-link:hover {
    color: rgba(255, 215, 0, 0.8); /* Adjust hover color */
  }
  
  
  section {
    padding: 50px 0;
    text-align: center;
  }
  
  section h1,
  section h2 {
    color: #000000;
  }
  
  section p {
    color: #666666;
  }
  
  #home {
    background-color: #222222;
    padding: 100px 0;
  }
  
  #home h1 {
    color: #ffffff;
    font-size: 36px;
  }
  
  #home p {
    color: #cccccc;
    font-size: 20px;
  }
  
  #home img {
    max-width: 80%;
  }
  
  #home .row {
    margin-top: 30px;
  }
  
  #home .col-md-4 {
    text-align: center;
  }

  
  #skills {
    background-color: rgba(255, 255, 255, 0.1); /* Adjust the opacity as needed */
    border-radius: 10px;
    padding: 50px 0;
    backdrop-filter: blur(10px); /* Apply the frosted glass effect */
    overflow: hidden; /* Ensure the blur effect doesn't overflow */
}

#skills .container {
    padding-top: 50px;
}

#skills h2 {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
    color: white;
}

#skills p {
    text-align: center;
    margin-bottom: 50px;
    color: white;
}

.skill-category {
    margin-bottom: 50px;
}

.skill-category h3 {
    text-align: center;
    margin-bottom: 20px;
}

.Names-Label {
    color: white;
    font-weight: bold;
}

.skill-box {
    border: none; /* Remove the border */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1); /* Adjust the opacity as needed */
    backdrop-filter: blur(10px); /* Apply the frosted glass effect */
    overflow: hidden; /* Ensure the blur effect doesn't overflow */
}

.skill-box ul li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
}

.skill-box ul li img {
    max-width: 100px;
    max-height: 50px;
}

.skill-box ul li span {
    display: block;
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    color: white;
}


/* Custom CSS for the projects section */
#projects {
  padding: 80px 0;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
}

  .neumorphism {
    background-color: #333333;
    padding: 1px;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #111111, -10px -10px 20px #444444;
  }
  
  .neumorphism img {
    max-width: 80%;
    display: block;
    margin: 0 auto 20px;
  }
  
  .neumorphism p {
    color: #cccccc;
    font-size: 16px;
  }
  
  .qr-code {
    border: 3px solid #ffffff;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
    max-width: 80%;
    width: 80%;
  }
  
  .qr-code:hover {
    transform: scale(1.1);
  }
  
  /* Font Awesome Icon Colors */
  .fa-github {
    color: #333;
  }
  
  .fa-facebook {
    color: #3b5998;
  }
  
  .fa-tiktok {
    color: #000;
  }
  
  /* Hover Effect */
  .fa-github:hover,
  .fa-facebook:hover,
  .fa-tiktok:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
  }
  
  /* Icon Container */
  .text-center.text-md-start .fab {
    display: inline-block;
    margin-top: 10px;
  }
  
  #contact {
    background-color: #f8f9fa;
    padding: 50px 0;
  }
  
  #contact h2 {
    color: #333333;
  }
  
  #contact p {
    color: #666666;
    margin-bottom: 20px;
  }

  footer {
    background-color: #000000;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
  }
  
  footer p {
    margin-bottom: 0;
  }
  

  
  /* Media Queries */
  @media (max-width: 767px) {
    header .navbar-brand {
      font-size: 24px;
    }
  
    header .navbar-nav .nav-link {
      font-size: 16px;
    }
  
    section {
      padding: 30px 0;
    }
  
    .text-center.text-md-start {
      margin-top: 50px;
    }

    .qr-code{
        margin-top: 4%;
    }
  }
  
  @media (max-width: 576px) {
    header .navbar-brand {
      font-size: 20px;
    }
  
    header .navbar-nav .nav-link {
      font-size: 14px;
    }
  
    section {
      padding: 20px 0;
    }
    .qr-code{
        margin-top: 4%;
    }
  }
  












  